.admin-container{
  display: flex;

  .admin-sidebar{
    .pro-sidebar{
      height: 100vh !important;
    }
  }

  .admin-content{
    width: 100%;

    &__header{
      height: 40px;
    }
    
    &__main{
      height: calc(100vh - 40px);
      
    }
  }
}